* {
	margin:0;
	padding:0;
}

.block {
	background-color: rgba( 255,255,255,0.9 );
	padding: 20px 40px;
	margin-bottom: 10px;
}
p, a {
	font-family: 'Georgia', serif;
}
html, body {
	width:100%;
	height:100%;
}

body {
	font-family:sans-serif;
}

body > section {
	background:transparent center no-repeat;
	background-size:cover;
}

section .wrap {
	padding: 40px 0;
}

section#extra-info {
	background-color: #222;
	width: 100%;
	text-align: center;
	display: block;
/*	position: fixed;
	z-index: 500;
	top: 0; */
}

section#extra-info .link {
	display: inline-block;
	padding: 10px;
	color: #AAA;
}

h1, h2, h3, h4, h5 {
	font-family: 'Georgia', serif;
	font-weight: normal;
}

section#intro h1,
section#intro h2 {
	text-align: center;
	color: #AAA;
	margin:0;
	padding:0;
}

section#events h2 {
	padding-left: 25px;
	font-size: 25px;
	color: #666;
}

section#events .event {
	background-color: rgba(0,0,0,0.8);
	color: #AAA;
	padding: 20px;
	margin-bottom: 10px;
}